<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b7c064">  <td>23/10/13 10:33:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestRegistration.close_browser_()[pri:0, instance:registration.TestRegistration@158d2680]">&lt;&lt;close_browser_</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="b7c064">  <td>23/10/13 10:33:33</td>   <td>-2101</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestRegistration.open_browser_()[pri:0, instance:registration.TestRegistration@158d2680]">&gt;&gt;open_browser_</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2030538903</td>   <td></td> </tr>
</table>
